@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Pt Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

/*Pages*/

.page-header {
  background: white;
  color: #000000;;
}

.navigation-link {
  font-family: "Pt Sans", sans-serif;
  background-color: white;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
}

.welcome {
  background-image: url("../images/background-mountains.jpg");
  background-color: white;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.advantage-header {
  text-align: center;
}

.advantage-list {
  text-align: center;
}

.advantage-title {
  font-family: "Pt Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.advantage-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.features {
  text-align: center;
}
.features-title {
  text-align: center;
  font-family: "Pt Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.features-subtitle {
  font-family: "Pt Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
.features-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.features-item-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.offer {
  font-family: "Pt Sans", sans-serif;
  text-align: center;
}
.offer-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.offer-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.subscribe {
  font-family: "Pt Sans", sans-serif;
  text-align: center;
}
.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
.page-footer {
  font-family: "Pt Sans", sans-serif;
  text-align: center;
}
.footer-tel {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}


