@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Pt Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background: #F2F2F2;
}


.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container-content {
  flex: 1 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
}


.page-header {
  background: #ffffff;
  display: flex;
  padding: 0 70px;
}


.navigation-list {
  width: 339px;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.advantage-content {
  max-width: 400px;
  padding: 101px 85px;
}

.advantage-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantage-item {
  background-color: rgba(131, 179, 211, 0.2);
  width: 100%;
  max-width: 400px;
  padding: 101px 85px;
}

.advantage-item:first-child, .advantage-item:last-child {
  background-color: #82B3D3;
  color: #FFFFFF;
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-grow: 2;
  padding: 0;
}

.advantage-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-img {
  width: 100%;
  max-width: 800px;
}

.features {
  margin-bottom: 96px;
}


.features-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
}

.features-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 385px;
  padding: 15px 85px;
  flex: 1;
}

.features-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.offer {
  text-align: center;
}

.filter-main {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.catalog {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  flex-direction: column;
}

.navigation-link {
  display: block;
  background: #FFFFFF;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  padding: 20px 0;
}

.navigation-item {
  margin: 0;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  width: 268px;
}

.button-header {
  background: #756157;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 160px;
  height: 36px;
}


.filter-main {
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

.filter-span {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.filter-fieldset-span {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-transform: capitalize;
}

.filter-legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.filter-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.filter-price-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.filter-price-span {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.filter-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.filter-price-input {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.filter-button-apply {
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
  width: 191px;
  height: 36px;
}

.filter-button-reset {
  background: none;
  border: none;

}

.catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-cheap {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 141px;
  height: 21px;
  color: #333333;
}

.hotels-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
}

.hotels-card-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-transform: capitalize;

}

.hotels-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-transform: capitalize;
}

.hotel-card-button-brown {
  text-align: center;
  background-color: #756157;
  border-radius: 4px;
  color: #FFFFFF;
  border: none;
  width: 140px;
  height: 36px;
  text-decoration: none;
  text-transform: uppercase;
}

.button-card {
  background: #82B3D3;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  width: 140px;
  height: 36px;
  text-transform: uppercase;
}

.button-card-green {
  background-color: #7DB54F;
}

.rating-title {
  text-align: center;
  width: 140px;
  height: 37px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background: #F2F2F2;
  border-radius: 4px;
  border: none;
}

.pagination-link {
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

.pagination-link-gray {
  background-color: #F2F2F2;
  color: #000000;
}


.welcome {
  margin-bottom: 35px;
  background-image: url("../images/Group 37.jpg");
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  background-size: cover;
  text-align: center;
  padding: 51px 0 82px;
}


.section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  max-width: 620px;
  margin: 0 0 20px;

}

.section-white .section-title {
  color: #ffffff;
}

.section {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.section-advantage {
  margin-bottom: 90px;
}

.section-features {
  margin-bottom: 94px;
}

.advantage {
  margin-bottom: 64px;
}

.section-subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  text-transform: none;
}

.section-offer {
  margin: 0 auto 62px;
  max-width: 592px;
}
.section-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 258px 104px;
  max-width: 1200px;
  min-height: 415px;
}
.section-subtitle {
  padding-bottom: 54px;
}

.subscribe-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 258px 104px;
  width: 452px;
  height: 52px;
}

.section-white .section-subtitle {
  color: #ffffff;
}

.advantage-item-blue {
  background-color: #82B3D3;;
}

.advantage-item-gray {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.advantage-item-blue .advantage-title {
  color: white;
}

.advantage-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantage-item-blue .advantage-subtitle {
  color: #FFFFFF;
}


.features-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.features-img {
  margin-left: auto;
  margin-right: auto;
}

.features-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.features-item-gray {
  background-color: rgba(131, 179, 211, 0.12);
}

.offer {
  padding-bottom: 96px;
}

.offer-button {
  background-color: #756157;
  color: #FFFFFF;
  margin: 0;
  padding: 8px 50px;
  border-radius: 4px;
  border: none;

}

.subscribe {
  color: #000000;
}

.subscribe-bg {
  background-repeat: no-repeat;
  background-image: url("../images/Subscribe.jpg");
  background-size: cover;
  background-color: #89ABB8;
  color: #FFFFFF;
}

.subscribe-bg .section-subtitle {
  color: #FFFFFF;
}


.subscribe-input {
  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: none;
  width: 452px;
  height: 52px;
  padding: 14px 0 14px 20px;
}

.subscribe-button {
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
  border: none;
  color: #FFFFFF;
  height: 52px;
  padding: 8px 50px;
}

.social-list {
  list-style: none;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 142px;
  height: 40px;

}

.footer-tel {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  gap: 40px;
  background-color: #FFFFFF;
}
